
/******************\
|** Start  Login **|
\******************/
    .login{
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 18.5% 35%;
        gap: 10px;
    }
    .submit{
        width: 30%;
        margin: 0 35%;
    }
/******************\
|*** End  Login ***|
\******************/

/******************\
|*** Start Drop ***|
\******************/


.drop_title {
    text-align: center;
    margin: 20px 0;
    font-family: 'Poppins';
    font-weight: bold;
}

form.add_item{
    display: flex !important;
    flex-direction: column !important;
    width: 50% !important;
    margin: 20px 25% !important;
    gap: 10px;
}
.item {
    display: flex;
}
.label_item {
    width: 190px;
    margin-right: 2%;
}
.file{
    width: 255px;
}
.input_item {
    width: 73%;
    border-radius: 0.25rem;
}
.submit_add {
    width: 30%;
    margin: 0 35%;
    display: flex;
    align-items: center;
}
.input_submit {
    width: 100%;
    padding-left: 25% !important;
}
.add_plus {
    position: absolute;
    left: 45%;
}

/******************\
|**** End Drop ****|
\******************/




/******************\
|*** Start home ***|
\******************/

.backgrouandtech{
    width: 100%;
}
.aboutU{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
.aboutU-img{
    width: 540px;
}
.aboutU-img img{
    width: 100%;
    border-radius: 15px;
}
.aboutU-desc{
    width: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



/******************\
|**** End Home ****|
\******************/


/******************\
|** Start footer **|
\******************/


footer {
    margin-top: 10px;
    background-color: #002A30;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.logo_footer a{
    text-decoration: none;
}

.logo_footer {
    display: flex;
    justify-content: center;
}

.logo_footer img {
    margin: 20px 0px;
    width: 180px;
}

.grid_footer {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.grid_footer .grid_items .title_grid_items {
    color: #22b2be;
    font-size: 20px;
}

.grid_footer .grid_items .desc_grid_items {
    color: #076f78;
    font-size: 16px;
}

.desc_grid_items {
    display: flex;

}

.desc_grid_items .logo_apk img {
    border-radius: 15px;
    width: 65px;
}

.desc_grid_items .stors img {
    border-radius: 5px;
    width: 96px;
    margin: -2px 10px;
    margin-top: 1px;
}

.desc_grid_items .reseaux {
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 25px;
    margin-left: 7px;
}

.desc_grid_items .reseaux i {
    padding-left: 5px;
}

i.fa.fa-facebook.fb {
    padding-left: 7px;
}

a:-webkit-any-link {
    color: black;
}

.stors {
    display: flex;
    flex-direction: column;
}

/******************\
|*** End footer ***|
\******************/
