.push {
    padding-top: 100px;
}

/******************\
|** Start  Login **|
\******************/
.login {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 18.5% 35%;
    gap: 10px;
}

.submit {
    width: 100%;
}

/******************\
|*** End  Login ***|
\******************/

/******************\
|*** Start Drop ***|
\******************/


form.add_item {
    display: flex !important;
    flex-direction: column !important;
    width: 50% !important;
    margin: 0% 25% !important;
    gap: 10px;
    padding-top: 100px;
}

.item {
    display: flex;
}

.label_item {
    width: 245px;
    margin-right: 2%;

}

.controol {
    GAP: 10PX;
    DISPLAY: flex;
    FLEX-WRAP: WRAP;
    JUSTIFY-CONTENT: center;

}

.input_item {
    width: 73%;
    border-radius: 0.25rem;
}

.submit_add {
    width: 30%;
    margin: 0 35%;
    display: flex;
    align-items: center;
}

.alert {
    position: absolute;
    top: 100px;
}

/******************\
|**** End Drop ****|
\******************/




/******************\
|*** Start home ***|
\******************/

.backgrouandtech {
    width: 100%;
}

.aboutU {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;


}

.aboutU-img {
    width: 540px;
}

.aboutU-img img {
    width: 100%;
    border-radius: 15px;
}

.aboutU-desc {
    width: 540px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Manager {
    margin-top: 50px;
    background-color: #E5E5E5;
    padding: 20px;
}

.Manager .aboutU-img {
    padding: 5%;
}

.Manager .aboutU-img img {
    width: 100%;
}

.aboutU-desc {
    font-size: 27px;
    text-align: justify;
}

.aboutU-desc span {
    color: #2C3E7E;
}

.aboutU-desc p {
    color: #6b6f70;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 40px;
    gap: 10px;
}

.service_title {
    text-align: center;
    margin-top: 20px;
}

.service {
    width: 252px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    padding: 0 7px;
    border-radius: 15px;
}

.Add {
    background-color: #3498db;
}

.Edit {
    background-color: #8e44ad;
}

.Delete {
    background-color: #c0392b;
}

.Buy {
    background-color: #d35400;
}

.service span {
    justify-content: center;
    display: flex;
}

.service i {
    justify-content: center;
    display: flex;
    padding-top: 10px;
    margin-bottom: -17px;
    font-size: 44px;
    color: white;
}

.service p {
    color: #d8dbdc;
    text-align: justify;
}

/******************\
|**** End Home ****|
\******************/


/******************\
|* Start  Gallery *|
\******************/

.gallery {
    padding-top: 100px;
    display: flex;
}

.gallery .select {
    width: 200px;
    background-color: aliceblue;
}

.gallery .select::-webkit-scrollbar {
    display: none;
}

.select_op {
    cursor: pointer;
    margin-bottom: 20px;
    font-family: bold;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 40px;
    width: 1000px;
    margin-left: 36px;
}

.item_img {
    width: 100%;
    padding: 20px 50px;
}

.item_img img {
    width: 186.4px;
    border-radius: 20px;
    height: 186.4px;
}

.item_buy {
    display: flex;
    justify-content: space-evenly;
    width: -webkit-fill-available;
    align-items: center;
}

.item_buy {
    display: flex;
    gap: 10px;
    width: 187%;
    margin-left: -67px;
    justify-content: center;
}

.item_price {
    cursor: default;
}

/******************\
|** End  Gallery **|
\******************/

/******************\
|** Start footer **|
\******************/


footer {
    margin-top: 10px;
    background-color: #002A30;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo_footer a {
    text-decoration: none;
}

.logo_footer {
    display: flex;
    justify-content: center;
}

.logo_footer img {
    margin: 20px 0px;
    width: 180px;
}

.grid_footer {
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
}

.grid_footer .grid_items .title_grid_items {
    color: #22b2be;
    font-size: 20px;
}

.grid_footer .grid_items .desc_grid_items {
    color: #076f78;
    font-size: 16px;
}

.desc_grid_items {
    display: flex;

}

.desc_grid_items .logo_apk img {
    border-radius: 15px;
    width: 65px;
}

.desc_grid_items .stors img {
    border-radius: 5px;
    width: 96px;
    margin: -2px 10px;
    margin-top: 1px;
}

.desc_grid_items .reseaux {
    background-color: #FFFFFF;
    border-radius: 100%;
    width: 25px;
    margin-left: 7px;
}

.desc_grid_items .reseaux i {
    padding-left: 5px;
}

i.fa.fa-facebook.fb {
    padding-left: 7px;
}

a:-webkit-any-link {
    color: black;
}

.stors {
    display: flex;
    flex-direction: column;
}

/******************\
|*** End footer ***|
\******************/